body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
}

.d-block{
    position: relative;
    left: 350px;
}

h2{
    position: relative;
    left: 520px;
}

h5{
    color: black;
}

p{
    color: black;
}